checker
Documents/Remarques.aux
Documents/Remarques.bbl
Documents/Remarques.blg
Documents/Remarques.fdb_latexmk
Documents/Remarques.fls
Documents/Remarques.log
Documents/Remarques.out
Documents/Remarques.toc
Documents/Remarques.synctex.gz

Code/CMakeFiles/
Code/Makefile
Code/CMakeCache.txt
Code/cmake_install.cmake
Code/*.user
Code/*.cbp
Code/*.exe
Code/*.cpp.autosave
Code/toukeute
Code/tests

Algo_python/__pycache__/

Datasets/dataset_A/*.~lock.*
checker/instances_checker/*
checker/obj
